@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Merienda:wght@800&display=swap');

:root {
    --primary-color: #FF9B42;
    --secondary-color: #274C77; 
    --accent1-color: #A3CEF1;
    --accent2-color: #4C9F70;

    --heading-font: "Merienda", serif;
    --paragraph-font: "Heebo", serif;

    --nav-background-color: #4C9F70;
    --nav-link-color: #274C77;
    --nav-hover-link-color:  #A3CEF1;
    --nav-hover-background-color:  #274C77;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    font-size: 2rem;
}

header {
    padding: 40px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.5rem;
    display: flex;
    width: 100%;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

*.hero {
    position: relative;
}

h1 {
    position: absolute;
    top: 15px;
    left: 300px;
}

.article img {
    height: 200px;
    width: auto;
    float: right;
    padding: 2px;
}

.article {
    position: absolute;
    top: 140px;
    border: 1px solid steelblue;
    background-color: #FF9B42;
}

/*.article img, .article p {
    display: block;
} 


.article img {
    position: absolute;
    height: 170px;
    width: auto;
    border: 1px solid steelblue;
    padding: 2px;
    top: 100px;
    float: right;
}

.article p {
    position: absolute;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: #FF9B42;
    top: 100px;
}

/* article {
    position: absolute;
    top: 90px;
    left: 300px;
    width: 150px;
    height: auto;
}

article img {
    width: 150px;
    height: auto;
    padding: 2px;
    float: right;
    margin: 0 0 1rem 1rem;
}

