@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Merienda:wght@800&display=swap');

:root {
    --primary-color: #FF9B42;
    --seconday-color: #274C77; 
    --accent1-color: #A3CEF1;
    --accent2-color: #4C9F70;

    --heading-font: "Merienda", serif;
    --paragraph-font: "Heebo", serif;

    --nav-background-color: #FF9B42;
    --nav-link-color: #A3CEF1;
    --nav-hover-link-color: #274C77;
    --nav-hover-background-color: #4C9F70;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
