#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #090446;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #adcad6;
}
body {
    background-color: #006e90;
}
header {
    background-color: #ff9f1c;
}
nav a:hover {
    background-color: #006e90;
    color: #adcad6;
}
.book, .join {
    background-color: #ff9f1c;
    color: #090446;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #006e90;
    color: #ff9f1c;
}
.msg {
    background-color: #090446;
}
footer {
    background-color: #090446;
    color: #adcad6;
}
.home-title {
    color: #ff9f1c;
}
.msg h2 {
    color: #adcad6;
}
.msg p {
    color: #ff9f1c;
}
footer a {
    color: #ff9f1c;
    text-decoration: none;
}
footer a:hover {
    color: #090446;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
